<!doctype html>

<html>
<head>
  <title>Edit</title>    
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/global.css" rel="stylesheet">
  <link href="/css/typeahead.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- this is a comment in HTML -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
    </head>

    <body class="tmpfix">
      <div class="container">
        <form class="entry-form" role="form" action="/save/old" method="post">
        <input type="hidden" name="_id" value="{{entry._id}}"/>
        <div class="new-topbar text-center">
          <a class="btn btn-default pull-left" href="/entry/{{entry._id}}">Cancel</a>
          <span class="new-topbar-text">Edit</span>
          <input type="submit" id="entrySubmitBtn" class="btn btn-primary pull-right" value="Save">

        </div>
        <div class="text-left" id="editDateTime">
        {{dateFormat entry.datetime format="MM/DD/YY HH:mm"}}
        </div>

        {{#if message}}
          <div class="alert alert-{{message.[0]}} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{message.[1]}}
          </div>
        {{/if}}

        <select id="editingEmotion" name="emotion" class="form-control input-sm emotionSelect" placeholder="Select your emotion!">
        {{#each emotions}}
          <option value="{{val}}" {{#if bool}}selected{{/if}}>{{text}}</option>
        {{/each}}
        </select>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-tag"></span>
          </span>
          <input type="text" class="form-control" id="addtag-text" placeholder="Add tags"/>
          <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" id="addtag">Add</button>
          </span>
        </div>

        <div class="tags">
        {{#each entry.tags}}
        <span class="label label-default">{{.}}</span>
        {{/each}}
        </div>
        <input type="hidden" id="hiddenTags" name="hiddenTags" value="{{tagString}}"> 
      
          <div id="textEntryWrapper">
          <textarea class="form-control" rows="13" name="entryText">{{entry.text}}</textarea>
          </div>
        </form>
        <form action="/delete_entry" method="post">
          <input type="hidden" name="_id" value="{{entry._id}}"/>
          <input type="submit" id="deleteButton" class="btn btn-primary btn-block" value="Delete"/>
        </form>
      </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/typeahead.bundle.js"></script>
    <script src="/js/edit.js"></script>
    <script src="/js/global.js"></script>
  </body>
  </html>
